.inputFields{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    
}
.inputFields label{
    width: 350px;
    height: 40px;
    font-size: 1.6rem;
    padding: 5px;
    
}
.inputFields input{   
    outline: none;
    font-size: 1.2rem;
    padding: 5px;
    font-weight: 500;
}
.inputFields :nth-child(1) input{
   margin-left: 10px;
   width: 200px;
}
.inputFields :nth-child(2) input{
    margin-left: 37px;
    width: 50px;
 }
.inputFields button{
    width: 150px;
    margin: 10px;
    height: 40px;
    background-color: lightgreen;
    font-size: 1.3rem;
    font-weight: 500;
}

.displayContacts{
    margin: 20px 10px;
    background-color: lightblue;
    padding: 10px;
}
.displayContacts div{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 20px;
    background-color: aliceblue;
}
.displayContacts div h1{
    font-size: 1.2rem;
    text-transform: capitalize;
}
.displayContacts div button{
    width: 100px;
    margin-left: 10px;
    height: 40px;
    background-color:yellow;
    font-weight: 700;
    /* color: blue; */
    
}